## Python

# Packages
__pycache__/
*.pyc
*.py[cod]
*$py.class
build
_build
/dist/*
*.egg-info/
*.egg

.python-version

# Unit test / coverage reports
.tox/*
.pytest_cache/*

# mypy
.mypy_cache/*

# Emacs
*~
\#*\#
.\#*

# Sphinx build files
/docs/_build/*


