# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^docs/|^scripts/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-toml
    -   id: check-merge-conflict
    -   id: mixed-line-ending
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
